{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <div class="nav-container">
                    <a href="#" class="nav-logo">NJ</a>
                    <div class="nav-links">
                        <a href="#stack">Stack</a>
                        <a href="#projects">Projects</a>
                        <a href="mailto:gimeno.jairzon@gmail.com">Contact</a>
                    </div>
        </div>
    </nav>
    <main>
        {{template "content" .}}
    </main>
</body>
</html>
{{end}}
