{{define "content"}}
<header class="profile-header">
    <img src="/static/profile.jpg" alt="Niño Jairzon" class="profile-pic">
    <div class="header-text">
        <h1>Backend Developer & <br>Network Administrator</h1>
        <p>Go | NestJS | Arch Linux | ITS Networking Certified</p>
        <div class="actions">
            <a href="/static/cv.pdf" class="btn primary" download>Download CV</a>
            <a href="mailto:gimeno.jairzon@gmail.com" class="btn secondary">Contact Me</a>
        </div>
    </div>
</header>

<section id="stack">
    <h2>Technical Stack</h2>
    <ul>
        <li><strong>Languages:</strong> Go, Python, TypeScript, C</li>
        <li><strong>Frameworks:</strong> NestJS, React, Gin, Next</li>
        <li><strong>Infrastructure:</strong> Arch Linux, MongoDB, Postgres, Networking Major</li>
    </ul>
</section>

<section id="projects">
    <h2>Active Projects</h2>
    <div class="project-grid">
    <div class="project-card">
        <div class="card-header">
        <h3>3D-Portfolio</h3>
        <a href="https://jairzon-portfolio.vercel.app/" target="_blank" class="repo-link">View Website ↗</a>
        </div>
        <p>Portfolio-Website</p>
    </div>

    <div class="project-card">
        <div class="card-header">
        <h3>iPrages</h3>
        <a href="https://github.com/sora960/iPrages-Latest" target="_blank" class="repo-link">View Repo ↗</a>
        </div>
        <p>IoT Based Pest Detection</p>
    </div>
    <div class="project-card">
        <div class="card-header">
        <h3>KeyFiRoom</h3>
        <a href="https://key-fi-room-lspu-next-js.vercel.app/" target="_blank" class="repo-link">View Website ↗</a>
        </div>
        <p>Digital Key Management System with QR</p>
        </div>
    <div class="project-card">
        <div class="card-header">
        <h3>Image-Git</h3>
        </div>
        <p>Image Version Control</p>
        </div>
    </div>
</section>

<section id="mini-projects">
    <h3>Mini-Projects</h3>
    <div class="mini-container">
        <div class="project-card mini">
            <div class="card-header">
                <h4>Cog</h4>
                <a href="https://my-cog-page.vercel.app/" target="_blank" class="repo-link">View Web ↗</a>
            </div>
        </div>
    </div>
</section>

{{end}}
